RewriteEngine on

RewriteRule ^translate/([^/]+)/?$                index.php?page=translate&lang=$1
RewriteRule ^contexts/([^/]+)/?$                index.php?page=contexts&string=$1
RewriteRule ^screenshots/img_([^/]+)$              	- 
RewriteRule ^(translate|contexts|strings|import|screenshots|help)/?([^a-z]*)$          index.php?page=$1

