div.error {
    background: #FAA;
    border: 1px dashed red;
    padding: 10px;
    margin: 10px;
}

div.warning {
    border: 1px dashed #CCC;
}

div.context {
    clear: both;
}

img.screenshot {
    max-width: 250px;
    height: auto;
    float: left;
}

body, html {
    height: 98%;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #efefef;
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: #33c;
}
a:active {
    color: #66f;
}
a:hover {
    color: #99f;
}

.home_language {
    width: 350px;
    float: left;
    padding: 15px;
    margin: 15px;
    border: 1px #eee solid;
    border-radius: 3px;
    background: #fefefe;
}
.home_language h3 {
   float: left;
}
.home_language hr {
    clear: both;
    height: 1px;
    color: #eee;
    background: #eee;
    font-size: 0;
    border: 0;
    margin-bottom: 15px;
}
.home_language span.dev {
    font-size: 0.6em;
    color: #333;
}
.home_language div.progress {
    width: 260px;
    height: 15px;
}
.home_language div.translated {
    float: left;
    height: 100%;
    background: #090;
}
.home_language div.not_translated {
    height: 100%;
    background: #333;
}

#main_container {
    width: 90%;
    max-width: 980px;
    min-height: 50%;
    margin: 10px auto;
    background: white;
    padding: 10px;
    box-shadow: 4px 4px 4px #999;
    overflow: scroll;
    border: 1px #ccc solid;
}

div#menu {
    position: relative;
    z-index: 1000;
    display: block;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 2px #006 solid;
    margin-bottom: 10px;
    text-align: center;
}

div#menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

div#menu ul li a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.2em 0.8em;
}

div#menu ul li.active a {
    border-bottom: 5px #006 solid;
}

div#menu ul li a:hover {
    border-bottom: 5px #006 solid;
    background-color: #006;
    color: white;
}

div#menu li {
    display: inline;
}

div#user_menu {
    float: right;
}

div#user_menu form a {
    font-size: 0.7em;
}

div#translator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div#translator div#list_strings {
    float: left;
    width: 20%;
    height: 100%;
    overflow: scroll;
}

div#translator div#list_strings ul {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

div#translator div#list_strings li:before {
    content: "\203A \00A0 \00A0";
}

div#translator div#list_strings li.current:before {
    content: "\0BB \020";
}

div#translator div#list_strings li {
    margin: 2px;
}

div#translator div#list_strings li.set:after {
    color: #6c6;
    content: "\020 \2713"
}

div#translator div#list_strings li.unset:after {
    color: #f99;
    content: "\020 \2718"
}

div#translator div#topForm {
    float: left;
    margin-top: 55px;
    width: 80%;
    height: 20%;
    min-height: 220px;
}

div#translator div#topForm textarea {
    width: 35%;
    height: 100px;
    font-size: 1.1em;
    font-family: 'Ubunto Mono', monospace;
    border: 1px black solid;
    background: #eee;
    overflow: auto;
}

div#translator div#topForm .tip {
    color: #999;
    font-size: 0.7em;
}

div#translator div#context {
    float: right;
    width: 80%;
    height: 60%;
    overflow: scroll;
}

form {
    background: #eef;
    border: 1px #99f solid;
    margin: 10px;
    padding: 5px;
}

#strings_list {
    column-width: 250px;
    -moz-column-width: 250px;
    -webkit-column-width: 250px;
    overflow: hidden;
}

#languages_list {
    padding-left: 15px;
    column-width: 150px;
    -moz-column-width: 150px;
    -webkit-column-width: 150px;
}
