div.error {
    background: #FAA;
    border: 1px dashed red;
    padding: 10px;
    margin: 10px;
}

div.warning {
    border: 1px dashed #CCC;
}

div.context {
    clear: both;
}

img.screenshot {
    max-width: 250px;
    height: auto;
    float: left;
}

body {
    margin: 0;
}

body, html, div#translator {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #efefef;
}

#main_container {
    max-width: 980px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 10px;
    box-shadow: 4px 4px 4px #999;
    /*border: 1px #999 solid;*/
    /*border-right-width: 3px;*/
    /*border-bottom-width: 2px;*/
}

div#menu {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 5%;
    text-align: center;
}

div#menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

div#menu a {
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #006;
    padding: 0.1em 0.6em;
    border-right: 1px solid white;
}

div#menu a:hover {
    background-color: #30f;
}

div#menu li {
    display: inline;
}

div#translator {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 95%;
}

div#translator div#list_strings {
    float: left;
    width: 20%;
    height: 100%;
    overflow: scroll;
}

div#translator div#list_strings ul {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

div#translator div#list_strings li:before {
    content: "\0BB \020";
}

div#translator div#list_strings li {
    padding: 2px;
    margin: 2px;
    border-radius: 3px;
}

div#translator div#list_strings li.set {
    background: #9f9;
    border-color: #9f9;
}

div#translator div#list_strings li.unset {
    background: #f99;
    border-color: #f99;
}

div#translator div#topForm {
    float: left;
    width: 80%;
    height: 20%;
    min-height: 200px;
}

div#translator div#topForm textarea {
    width: 35%;
    height: 100px;
    font-size: 1.1em;
    font-family: 'Ubunto Mono', monospace;
    border: 1px black solid;
    background: #eee;
    overflow: auto;
}

div#translator div#topForm .tip {
    float: right;
    color: #ccc;
}

div#translator div#context {
    float: right;
    width: 80%;
    height: 80%;
    overflow: scroll;
}

form {
    background: #eef;
    border: 1px #99f solid;
    margin: 10px;
    padding: 5px;
}

#strings_list {
    column-width: 250px;
    -moz-column-width: 250px;
    -webkit-column-width: 250px;
    overflow: hidden;
}
